<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        src="../assets/neiman-marcus.svg"
        alt=""
        width="100"
        height="24" />BI Hub</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Business Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Help</a>
        </li>
        <li class="nav-item dropdown">
          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle-spli"
              ngbDropdownToggle>
              <span class="me-2">Resources</span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>What is BI Portal</button>
              <button ngbDropdownItem>Help & Documentation</button>
              <button ngbDropdownItem>Knowledge Base</button>
            </div>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search  for anything"
          aria-label="Search" />
      </form>
    </div>
  </div>
</nav>
