<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-lg">
    <a class="navbar-brand" href="#"><img src="../assets/neiman-marcus.svg" alt="" width="100" height="24" />BI Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="col-6">
        <form>
          <input class="form-control" type="search" placeholder="Search  for anything" aria-label="Search" />
        </form>
      </div>
      <div class="col-6">
        <ul class="navbar-nav  navbar-right">
          <li class="nav-item dropdown">
            <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">Resources
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-menu">
              <a href="#">What is BI Portal</a>
              <a href="#">Help & Documentation</a>
              <a href="#">Knowledge Base</a>
              <a href="#">Open a Support Ticket</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">Contact Us
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-menu">
              <a href="#"><i class="fa fa-comment"></i> link to teams</a>
              <a href="#"><i class="fa fa-envelope"></i>Email Us</a>
  
            </div>
          </li>
          <li class="nav-item dropdown">
            <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">User
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-menu">
              <a href="#">Chat link to teams</a>
              <a href="#">Email Us</a>
  
            </div>
          </li>
        </ul>
        </div>
   

    </div>
  </div>
</nav>