
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img
          src="../assets/neiman-marcus.svg"
          alt=""
          width="100"
          height="24" />BI Hub</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Business Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Help</a>
          </li>
          <li class="nav-item dropdown">
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle-spli"
                ngbDropdownToggle>
                <span class="me-2">Resources</span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem>What is BI Portal</button>
                <button ngbDropdownItem>Help & Documentation</button>
                <button ngbDropdownItem>Knowledge Base</button>
              </div>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search  for anything"
            aria-label="Search" />
        </form>
      </div>
    </div>
  </nav>
  
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-lg">
      <a class="navbar-brand" href="#"
        ><img
          src="../assets/neiman-marcus.svg"
          alt=""
          width="100"
          height="24" />BI Hub</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
         
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search  for anything"
            aria-label="Search" />
        </form>
        <ul class="navbar-nav  navbar-right">
        
          
          <li class="nav-item dropdown">
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle-spli"
                ngbDropdownToggle>
                <span class="me-2">Resources</span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem>What is BI Portal</button>
                <button ngbDropdownItem>Help & Documentation</button>
                <button ngbDropdownItem>Knowledge Base</button>
                <button ngbDropdownItem>Open a Support Ticket</button>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle-spli"
                ngbDropdownToggle>
                <span class="me-2">Contact Us</span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                 <button ngbDropdownItem>Chat link to teams</button>
                <button ngbDropdownItem>Email Us</button>
              </div>
            </div>
          </li>
         
          <li class="nav-item dropdown">
            
            <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle-spli"
              ngbDropdownToggle>
              <span class="me-2">User</span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
               <button ngbDropdownItem>Chat link to teams</button>
              <button ngbDropdownItem>Email Us</button>
            </div>
          </div>
        </li>
        </ul>
       
      </div>
    </div>
  </nav>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-lg">
      <a class="navbar-brand" href="#"><img src="../assets/neiman-marcus.svg" alt="" width="100" height="24" />BI Hub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <div class="col-6">
          <form>
            <input class="form-control" type="search" placeholder="Search  for anything" aria-label="Search" />
          </form>
        </div>
        <div class="col-6">
          <ul class="navbar-nav  navbar-right">
            <li class="nav-item dropdown">
              <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">Resources
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content dropdown-menu">
                <a href="#">What is BI Portal</a>
                <a href="#">Help & Documentation</a>
                <a href="#">Knowledge Base</a>
                <a href="#">Open a Support Ticket</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">Contact Us
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content dropdown-menu">
                <a href="#"><i class="fa fa-comment"></i> link to teams</a>
                <a href="#"><i class="fa fa-envelope"></i>Email Us</a>
    
              </div>
            </li>
            <li class="nav-item dropdown">
              <button class="dropbtn btn btn-primary dropdown-toggle-spli" type="button">User
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content dropdown-menu">
                <a href="#">Intake Form</a>
                <a href="#">Logout</a>
    
              </div>
            </li>
          </ul>
          </div>
     
  
      </div>
    </div>
  </nav>