<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-5">
        <div class="footer__inner">
          <div
            class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
            <ul id="menu-seller-footer" class="nav sub-nav footer__sub-nav">
              <li
                id="menu-item-1333"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333">
                <a title="Help Center" href="https://themes.zendesk.com/hc/en-us"
                  >Neiman Mrcus</a
                >
              </li>
              <li
                id="menu-item-1335"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1335">
                <a
                  title="Terms of Service"
                  href="https://themes.getbootstrap.com/terms/"
                  >Bergdorf Goodman</a
                >
              </li>
              <li
                id="menu-item-1334"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334">
                <a title="Licenses" href="https://themes.getbootstrap.com/licenses/"
                  >Last Call</a
                >
              </li>
              <li
                id="menu-item-49443"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49443">
                <a title="Sell Themes" href="https://themes.getbootstrap.com/sell/"
                  >HORCHOW</a
                >
              </li>
            </ul>
           
          </div>
        </div>
        <p>
          &copy;2023, Nelman Marcus | Terms & Conditions and Privacy Policy | Sitemap</p>
      </div>
      <div class="col">
      </div>
    </div>

    
    
  </div>
</footer>
