<footer class="footer">
  <div class="container-lg">
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <div class="footer_inner">
          <div
            class="footer_item d-lg-flex justify-content-lg-between align-items-lg-center">
            <ul id="menu-seller-footer" class="nav sub-nav footer_sub-nav">
              <li
                id="menu-item-1333"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333">
                <a
                  title="Help Center"
                  target="_blank"
                  href="https://www.google.com/"
                  >Neiman Mrcus</a
                >
              </li>
              <li
                id="menu-item-1335"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1335">
                <a
                  title="Terms of Service"
                  target="_blank"
                  href="https://www.google.com/"
                  >Bergdorf Goodman</a
                >
              </li>
              <li
                id="menu-item-1334"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334">
                <a
                  title="Licenses"
                  target="_blank"
                  href="https://www.google.com/"
                  >Last Call</a
                >
              </li>
              <li
                id="menu-item-49443"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49443">
                <a
                  title="Sell Themes"
                  target="_blank"
                  href="https://www.google.com/"
                  >HORCHOW</a
                >
              </li>
            </ul>
          </div>
        </div>
        <p>
          &copy;2023, Nelman Marcus |
          <a href="https://www.google.com/" target="_blank"
            >Terms & Conditions
          </a>
          and
          <a href="https://www.google.com/" target="_blank">Privacy Policy</a> |
          <a href="https://www.google.com/" target="_blank">Sitemap</a>
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</footer>
