<footer class="footer">
  <div class="container-lg">
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <div class="footer_inner">
          <div
            class="footer_item d-lg-flex justify-content-lg-between align-items-lg-center">
            <ul id="menu-seller-footer" class="nav sub-nav footer_sub-nav">
              <li
                id="menu-item-1333"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333">
                <a
                  title="Neiman Marcus"
                  target="_blank"
                  href="https://www.neimanmarcus.com/"
                  >Neiman Mrcus</a
                >
              </li>
              <li
                id="menu-item-1335"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1335">
                <a
                  title="Bergdorf Goodman"
                  target="_blank"
                  href="https://www.bergdorfgoodman.com/"
                  >Bergdorf Goodman</a
                >
              </li>
              <li
                id="menu-item-1334"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334">
                <a
                  title="Last Call"
                  target="_blank"
                  href="https://stores.neimanmarcus.com/lastcall.html"
                  >Last Call</a
                >
              </li>
              <li
                id="menu-item-49443"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49443">
                <a
                  title="HORCHOW"
                  target="_blank"
                  href="https://www.horchow.com/"
                  >HORCHOW</a
                >
              </li>
            </ul>
          </div>
        </div>
        <p>
          <a href="https://assistance.neimanmarcus.com/en-in" target="_blank"
            >&copy;2024, Nelman Marcus |
          </a>
          <a
            href="https://assistance.neimanmarcus.com/en-in/privacy"
            target="_blank"
            >Terms & Conditions and Privacy Policy
          </a>
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</footer>
