<section id="intro1">
  <div class="container-lg">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
          eComm Management & Web Operations
        </h3>
        <p class="body-text" style="text-align: center">
          eCommerce , Digital selling, Acquisition & Growth, Product Management
          related Dashboards and metrices.
        </p>
      </div>
    </div>
    <div class="row">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>NMG</button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div
                  class="card rounded"
                  style="width: 18rem"
                  >
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div
                class="card rounded"
                style="width: 18rem"
                >
                <app-dashboard-details></app-dashboard-details>
              </div>
              <div
              class="card rounded"
              style="width: 18rem"
              >
              <app-dashboard-details></app-dashboard-details>
            </div>
            
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>NMB</button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div
                  class="card rounded"
                  style="width: 18rem"
                  >
                  <app-dashboard-details></app-dashboard-details>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>BGB</button>
          <ng-template ngbNavContent>
            <p class="body-text">
              Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
              eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
              ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
              eget tincidunt eu, congue et odio. Duis pharetra et nisl at
              faucibus. Quisque luctus pulvinar arcu, et molestie lectus
              ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
              volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
              nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
              bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
              magnis dis parturient montes, nascetur ridiculus mus. Mauris
              aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
              nec tortor vel tellus pulvinar feugiat.
            </p>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <!--<p>{{dashboard | json}}</p>-->
</section>
