<section id="intro2">
  <div class="container-lg">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
          {{dashboard.displayName}}
        </h3>
        <p class="body-text" style="text-align: center">
          {{dashboard.description}}
        </p>
      </div>
    </div>
    <div class="row">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs justify-content-center">
        <li [ngbNavItem]="1">
          <button ngbNavLink>
            NMG<span class="button__badge">{{nmgChildren.length}}</span>
          </button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div
                  class="card rounded"
                  style="width: 18rem"
                  *ngFor="let item of nmgChildren">
                  <app-dashboard-card
                    [dashboard]="item"
                    [parentId]="dashboard.id"
                    [color]="dashboard.color"
                    [bgcolor]="dashboard.bgColor"
                    [faIcon]="dashboard.faIcon"></app-dashboard-card>
                </div>
              </div>
              <div
                class="row p-5 g-1 display-7 justify-content-center align-items-center"
                *ngIf="nmgChildren.length === 0">
                {{noDashboardsMessage}}
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>
            NMB<span class="button__badge">{{nmbChildren.length}}</span>
          </button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div
                  class="card rounded"
                  style="width: 18rem"
                  *ngFor="let item of nmbChildren">
                  <app-dashboard-card
                    [dashboard]="item"
                    [parentId]="dashboard.id"
                    [color]="dashboard.color"
                    [bgcolor]="dashboard.bgColor"
                    [faIcon]="dashboard.faIcon"></app-dashboard-card>
                </div>
              </div>
              <div
                class="row p-5 g-1 display-7 justify-content-center align-items-center"
                *ngIf="nmbChildren.length === 0">
                {{noDashboardsMessage}}
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>
            BGB<span class="button__badge">{{bgbChildren.length}}</span>
          </button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div
                  class="card rounded"
                  style="width: 18rem"
                  *ngFor="let item of bgbChildren">
                  <app-dashboard-card
                    [dashboard]="item"
                    [parentId]="dashboard.id"
                    [color]="dashboard.color"
                    [bgcolor]="dashboard.bgColor"
                    [faIcon]="dashboard.faIcon"></app-dashboard-card>
                </div>
              </div>
              <div
                class="row p-5 g-1 display-7 justify-content-center align-items-center"
                *ngIf="bgbChildren.length === 0">
                {{noDashboardsMessage}}
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
