<section id="intro1 details">
  <div class="container-lg">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
          eComm Management & Web Operations
        </h3>
        <p class="body-text" style="text-align: center">
          eCommerce , Digital selling, Acquisition & Growth, Product Management
          related Dashboards and metrices.
        </p>
      </div>
    </div>
    <div class="row">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>NMG</button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>

              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>NMB</button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>

              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>BGB</button>
          <ng-template ngbNavContent>
            <div class="container-lg">
              <div class="row g-5 justify-content-center align-items-center">
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>
                <div class="card rounded" style="width: 18rem">
                  <app-dashboard-details></app-dashboard-details>
                </div>

              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <!--<p>{{dashboard | json}}</p>-->
</section>