<section id="intro1">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center first-row">
      <!-- Card 1 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">NMG KPIs</h5>
              <p class="card-text">
                Executive Dashboards for Board, GLT & SLT members
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Customer/CRM</h5>
              <p class="card-text">
                NM & BG Customer related dashboards & metrics like Client
                Advisor relationships, Customer Trips, Customer Segmentation &
                Sales",
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Ecomm Management & Web Operations</h5>
              <p class="card-text">
                All the eCommerce, Digital selling, Acquisition & Growth,
                Product Management related Dashboards and metrics.
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Stores</h5>
              <p class="card-text">
                Store Level Reports on 360 demand vs the capacity to support &
                sustain it
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 justify-content-center align-items-center">
      <!-- Card 5 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Performance Marketing</h5>
              <p class="card-text">
                All marketing related dashboards that help generate quality
                traffic for the appropriate selling channels & appropriate
                engagement channels at the appropriate times",.
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 6 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Merchant</h5>
              <p class="card-text">
                NM & BG Merchant planning & Operations, Brand Partnerships,
                Beauty, Jewelry & Replenishment Reports & Dashboards", .
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 7 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">People Services</h5>
              <p class="card-text">Coming soon.</p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 8 -->
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Supply Chain</h5>
              <p class="card-text">
                All eCommerce logistics, Facilities/Warehouses, Operations and
                Supply Chain strategy related metrics & Dashboards.
              </p>
            </div>
            <div class="col-sm-3 text-right">
              <i class="fa fa-edit"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="card-link">NMB 2</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">NMG 0</a>
            </div>
            <div class="col">
              <a href="#" class="card-link">BGB 4</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
