<section id="intro3">
  <div class="container-lg">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col-12">
        <h3 class="body-title" style="text-align: center"><i class="fa-solid fa-chevron-left back-btn" (click)="backClick()"></i> NMG KPIs</h3>
        <p class="body-text" style="text-align: center">
          Executive Dashboards for Board, GLT & SLT members
        </p>
      </div>
      <div class="col-12">
        <button class="details-btn">
          NMB<span class="button__badge">5</span>
        </button>
      </div>
      <div class="col-12">
        <div
          class="row g-5 cards-section justify-content-center align-items-center">
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="min-height: 170px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="min-height: 170px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="min-height: 170px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col-12">
        <h3 class="body-title" style="text-align: center">Customer/CRM</h3>
        <p class="body-text" style="text-align: center">
          NM & BG Customer related dashboards & metrics like Client Advisor
          relationships, Customer Trips, Customer Segmentation & Sales
        </p>
      </div>
      <div class="col-12">
        <button class="details-btn">
          NMB<span class="button__badge">5</span>
        </button>
      </div>
      <div class="col-12">
        <div
          class="row g-5 cards-section justify-content-center align-items-center">
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="height: 160px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="height: 160px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card rounded" style="width: 18rem">
            <div class="card-body" role="grid">
              <div
                class="d-flex flex-column bd-highlight mb-3"
                style="height: 160px">
                <div class="mb-auto">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5 class="card-title">Customer/CRM</h5>
                      <p class="card-text">
                        NM & BG Customer related dashboards & metrics like
                        Client Advisor relationships, Customer Trips, Customer
                        Segmentation & Sales
                      </p>
                    </div>
                    <div class="col-sm-3 text-right">
                      <span style="font-size: 2em">
                        <i class="fa-solid fa-border border fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
