<section id="intro2">
  <div class="col-12 row d-flex px-0 m-0">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
          {{dashboard.childDisplayName}}
        </h3>
        <p class="body-text" style="text-align: center">
          {{dashboard.description}}
        </p>
      </div>
    </div>
    <div class="row col-12 row d-flex px-0 m-0 p-5 iframecontent top_80">
      <iframe
        id="vizContainer"
        as="style"
        rel="stylesheet preload prefetch"
        scrolling="auto"
        frameborder="0"
        [src]="dashboard.url | sanitize"
        [title]="dashboard.childDisplayName">
      </iframe>
    </div>
  </div>
</section>
