<section id="intro2">
  <div class="container-lg">
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
          NMG KPIs
        </h3>
        <p class="body-text" style="text-align: center">
          Executive Dashboards for Board, GLT & SLT members
        </p>
      </div>
    </div>
    <div class="row g-4 pt-4 justify-content-center align-items-center">
      <div class="col">
        <h3 class="body-title" style="text-align: center">
      Customer/CRM
      </h3>
      <p class="body-text" style="text-align: center">NM & BG Customer related dashboards & metrics like Client Advisor relationships, Customer Trips, Customer Segmentation & Sales</p>
    </div>
  </div>
  </div>
  </section>