/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/css/font-awesome';
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans.eot');
  src: url('../src/assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans.woff') format('woff'),
      url('../src/assets/fonts/OpenSans.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../src/assets/fonts/OpenSans-Bold.eot');
  src: url('../src/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Bold.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../src/assets/fonts/OpenSans-Semibold.eot');
  src: url('../src/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Semibold.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Semibold.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../src/assets/fonts/OpenSans-Light.eot');
  src: url('../src/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Light.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Light.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Light.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.btn .badge {
  color: #000;
  position: relative;
  top: -1px;
}
.p-2{
  border-right: 1px solid #ccc;
}
.p-2:last-child{
  border: none!important;
}
.mb-3{
  margin-bottom: 0px!important;
}
.card-body{
  font-family: "Open Sans";
  padding-left: 5px;
  padding-bottom: 0px !important;
  padding-right: 5px;
}

.card:hover{
  border: 2px solid #0d6efd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title{
  font-size: 14px;
}
.card-text{
 font-size: 12px;
}
.body-title{
  padding-left: 15px;
  padding-right: 15px;
}
.body-text{
  margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  padding: 5px;

}
.dropdown-content i{
  font-size: 16px;
  padding: 5px;
  position: relative;
  top: 2px;
}
.navbar-right{
  float: right;
}
.dropdown-toggle:hover{
  background: none;
  color: #000;
}
.dropdown-item{
  font-family: 'Open Sans';
  font-size: 12px;
}

.custom-dropdown{
  border-top:1px solid #ccc;
  margin-left: -17px;
  margin-right: -18px;
  /* margin-top: 18px; */
  position: relative;
  top: 8px;
}
section{
  padding: 85px 0;
}
.profile-box{
  right: 0px;
}
.profile-icon{
  font-size: 50px !important;
  width: 200px;
  margin: 0 auto;
  margin-top: -40px;
}
.profile-box h3, p, i{
  text-align: center;
  font-family: 'Open Sans';
}
.profile-box h3{
  font-size: 20px;
}
.card {
  padding: 3px 10px;
  margin: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 3px solid #fff;
  background-color: #fff;
  min-height:230px;
  max-height:230px;
  min-width: 312px;
}
.first-row{
  position:relative;
  top:-80px;
}
#intro {
  background-color :#0d6efd;
  color:#fff
}.input-group-text{
  color: #fff !important;
  border: none;
  background: rgba(255, 255, 255, 0.5);

}
.profile-head{
  background-color: #ccc;
  height: 53px;
  margin-top: -8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.profile{
  font-size: 27px;
    margin-right: 10px;
}
.profile-content{
  padding: 10px;
}
#intro1{
  background-color :#ccc;

}
.footer{
  background-color :#ccc;
}

.footer ul{
  margin: 0 auto;
}
.dropdown-toggle {
  white-space: nowrap;
  font-size: 11px;
  background: none;
  color: #000;
  border: none;
}
.footer {
  font-size: 13px;
  //border-top: 1px solid #D5DCE5;
  font-family: "Open Sans";
  color: #59626D; }
.footer a{
    color: #000;
    text-decoration: none;
}
.footer p{
  color: #000;
}
.footer-inner {
  padding: 10px 0;
 }

.footer_item:not(:last-child) {
  border-bottom: 1px solid #D5DCE5;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.footer_email-input {
  min-width: 250px; }
  @media (max-width: 767px) {
    .footer_email-input {
      min-width: 0; } }

@media (max-width: 767px) {
  .footer_sub-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } 
  }

.footer_sub-nav li {
  padding-left: .75rem;
  padding-right: .75rem; }
.footer_sub-nav li:first-child {
    padding-left: 0; }
.footer_sub-nav li a {
    font-size: 13px;
    display: block;
    color: #59626D;
    padding: .5rem 0; }
.footer_sub-nav li a:hover, .footer_sub-nav li a:focus {
      color: #424951; }
.custom-search{
  border: none;
  background: rgba(255, 255, 255, 0.5);
  left: 1px;

}
.custom-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #fff;
  }
.custom-search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
  }
.custom-search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
  
}