/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/css/font-awesome';
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans.eot');
  src: url('../src/assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans.woff') format('woff'),
      url('../src/assets/fonts/OpenSans.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../src/assets/fonts/OpenSans-Bold.eot');
  src: url('../src/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Bold.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../src/assets/fonts/OpenSans-Semibold.eot');
  src: url('../src/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Semibold.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Semibold.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../src/assets/fonts/OpenSans-Light.eot');
  src: url('../src/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/OpenSans-Light.woff2') format('woff2'),
      url('../src/assets/fonts/OpenSans-Light.woff') format('woff'),
      url('../src/assets/fonts/OpenSans-Light.ttf') format('truetype'),
      url('../src/assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.btn .badge {
  color: #000;
  position: relative;
  top: -1px;
}
.p-2{
  border-right: 1px solid #ccc;
}
.p-2:last-child{
  border: none!important;
}
.mb-3{
  margin-bottom: 0px!important;
}
.card-body{
  font-family: "Open Sans";
  padding-left: 5px;
  padding-bottom: 0px !important;
  padding-right: 5px;
}

.card:hover{
  border: 2px solid #0d6efd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title{
  font-size: 14px;
}
.card-text{
 font-size: 12px;
}
.dropdown-toggle:hover{
  background: none;
  color: #000;
}
.dropdown-item{
  font-family: 'Open Sans';
  font-size: 12px;
}

.custom-dropdown{
  border-top:1px solid #ccc;
  margin-left: -17px;
  margin-right: -18px;
  /* margin-top: 18px; */
  position: relative;
  top: 8px;
}
section{
  padding: 85px 0;
}
.card {
  padding: 3px 10px;
  margin: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 3px solid #fff;
  background-color: #fff;
  min-height:230px;
  max-height:230px;
  min-width: 312px;
}
.first-row{
  position:relative;
  top:-80px;
}
#intro {
  background-color :#0d6efd;
  color:#fff
}

#intro1{
  background-color :#ccc;

}
.dropdown-toggle {
  white-space: nowrap;
  font-size: 11px;
  background: none;
  color: #000;
  border: none;
}
