/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/css/font-awesome';
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans.eot');
  src: url('../src/assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/OpenSans.woff2') format('woff2'),
    url('../src/assets/fonts/OpenSans.woff') format('woff'),
    url('../src/assets/fonts/OpenSans.ttf') format('truetype'),
    url('../src/assets/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../src/assets/fonts/OpenSans-Bold.eot');
  src: url('../src/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../src/assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('../src/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../src/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../src/assets/fonts/OpenSans-Semibold.eot');
  src: url('../src/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../src/assets/fonts/OpenSans-Semibold.woff') format('woff'),
    url('../src/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../src/assets/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../src/assets/fonts/OpenSans-Light.eot');
  src: url('../src/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('../src/assets/fonts/OpenSans-Light.woff') format('woff'),
    url('../src/assets/fonts/OpenSans-Light.ttf') format('truetype'),
    url('../src/assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.appname{
  font-weight: 600;
  font-size: 32px;
}

.autocomplete-container .input-container input {
  font-size: 14px;
  box-sizing: none!important;
  border: none!important;
  box-shadow: none!important;
  outline: none!important;
  background: none!important;
  color: #fff!important;
  width: 100%;
  padding: 0px !important;

  line-height: 10px;
  height: 29px!important;
  /* height: 40px; */
}
.ng-autocomplete .input-container{
  margin-top: -3px;
}
.autocomplete-container .input-container input::-webkit-input-placeholder {
  color:#fff;
  }
  .autocomplete-container .input-container input:-moz-placeholder { /* Firefox 18- */
  color:#fff;
  }

  .autocomplete-container .input-container input::-moz-placeholder { /* Firefox 19+ */
  color:#fff;
  }
.autocomplete-container {
  box-shadow:none!important;
  position: relative;
  overflow: visible;

}
.autocomplete-container .suggestions-container ul li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  line-height: 4px !important;
  /* font-size: 12px !important; */
}
.autocomplete-container .suggestions-container ul li a{
  font-size: 13px!important;
}
.autocomplete-container .suggestions-container ul li a:hover{
 background-color: #0D6EFD;
 color: #fff;
 font-size: 13px;
}
.navbar-brand img{
  position: relative;
    top: -5px;
}
.nav-tabs .nav-link.active {
  background-color: #0d6efd!important;
  color: #fff!important;
  border: 1px solid #0d6efd!important;
}
.ng-autocomplete {
  width: auto !important;
  height: 35px;
}
.btn .badge {
  color: #000;
  position: relative;
  top: -1px;
}

.tab-content p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 25px;
}

.p-2 {
  border-right: 1px solid #ccc;
}

.p-2:last-child {
  border: none !important;
}

.mb-3 {
  margin-bottom: 0px !important;
}

.navbar {
  background-color: #0D6EFD !important;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-right {
  float: right;
  margin-top: 10px;
}

.nav-tabs {
  //width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px !important;
  margin-top: 20px !important;
  border: none
}

.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

.nav-tabs .nav-link {
  background: #cfe2ff4d;
  color: rgb(13, 110, 253);
  border: 1px solid rgb(13, 110, 253);
  border-radius: 4px;
  /* padding: 10px; */
  font-size: 14px;
  margin: 10px;

}

.nav-tabs .nav-link:hover {
  background: #cfe2ff4d;
  color: rgb(13, 110, 253);
  border: 1px solid rgb(13, 110, 253);
}

.card-body {
  font-family: "Open Sans";
  padding-left: 5px;
  padding-bottom: 0px !important;
  padding-right: 5px;
  background-color: #fff;
}
.card-body .fa-solid, .fas {
  font-weight: 900;
  padding: 12px;
}
.card-text {
  font-size: 12px !important;
  line-height: 18px !important;
}

.card:hover {
  border: 2px solid #0d6efd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-text {
  font-size: 12px;
  font-weight: 400;
  color: #686868;
}

.body-title {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
}

.body-text {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #ABCFFB;
}
.material-icons
{
  position: relative;
  top: -6px !important;
  color: #fff !important;
}
#intro2 .body-title{
  color: #3B3B3B;
}
#intro2 .body-text{
  color: #686868;
}
#intro3 .body-title{
  color: #0d6efd;
}
#intro3 .body-text{
  color: #686868;
}
.profile-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dropdown-toggle-spli {
  color: #fff !important;
  font-size: 14px !important;
}

.dropdown-toggle-spli:hover {
  color: #fff !important;
}

.dropdown-toggle-spli:focus {
  color: #fff !important;
}

.dropdown-toggle:hover {
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: #0d6efd !important;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.dropdown-item:focus {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.dropdown-content a:focus {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.custom-dropdown .dropdown-toggle:hover {
  color: #0d6efd !important;
}

.dropdown-content i {
  font-size: 16px;
  padding: 5px;
  position: relative;
  top: 2px;

}

.dropdown-content i.fa-circle-user {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-toggle{
  padding: 8px!important;
}

.dropdown-toggle:hover {
  background: none;

}

.dropdown-item {
  font-family: 'Open Sans';
  font-size: 12px;
}

.custom-dropdown {
  border-top: 1px solid #ccc;
  margin-left: -17px;
  margin-right: -18px;
  /* margin-top: 18px; */
  position: relative;
  top: 5px;
}

section {
  padding: 85px 0;
}
.profile-head {
  background-color: #ccc;
  height: 53px;
  margin-top: -8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.profile {
  font-size: 27px;
  margin-right: 10px;
}
.profile-box {
  margin-left: -85px;
  min-width: 210px;
}

.profile-box h3 {
  font-size: 20px;
}

.profile-box {
  right: 0px;
  font-family: 'Open Sans';
}

.profile-icon {
  font-size: 50px !important;
  width: 200px;
  margin: 0 auto;
  margin-top: -40px;
}

.profile-box h3,
.profile-box p,
.profile-box i {
  text-align: center;

}

.dropdown-toggle {
  white-space: nowrap;
  font-size: 11px;
  background: none;
  color: #000;
  border: none;
}

.dropdown-toggle-spli::after {
  display: none;
}

.card {
  padding: 3px 10px;
  margin: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 3px solid #fff;
  background-color: #fff;
  min-height: 180px;
  margin-bottom: 20px;
  //max-height: 230px;
 // min-width: 312px;
}
.card:hover{
  cursor: pointer;
}
.rounded{
  background-color: #fff;
}
.first-row {
  position: relative;
  top: -80px;
}

#intro {
  background-color: #0d6efd;
  color: #fff
}

.input-group-text {
  color: #fff !important;
  border: none;
  background: rgba(255, 255, 255, 0.5);

}


#intro1,
#intro2,
#intro3 {
  background-color: #ededed;
}
.footer {
  background-color: #ededed;
}
.footer ul {
  margin: 0 auto;
}
.footer {
  font-size: 13px;
  font-family: "Open Sans";
  color: #59626D;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer p {
  color: #000;
  text-align: center;
}

.footer-inner {
  padding: 10px 0;
}

.footer_item:not(:last-child) {
  border-bottom: 1px solid #D5DCE5;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.footer_email-input {
  min-width: 250px;
}

@media (max-width:767px) {
  .footer_email-input {
    min-width: 0;
  }

  .dropdown-option {
    width: 100%;
    min-width: 450px;
  }

  .footer p {
    text-align: center;
  }

  .footer_sub-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar-right {
    float: left;
  }

  .profile-box {
    margin-left: 0px;
    width: 100%;
    min-width: 450px;

  }

  #navbarSupportedContent {
    margin-top: 10px;
  }

}
.footer_sub-nav li {
  padding-left: .75rem;
  padding-right: .75rem;
}

.footer_sub-nav li:first-child {
  padding-left: 0;
}

.footer_sub-nav li a {
  font-size: 13px;
  display: block;
  color: #59626D;
  padding: .5rem 0;
}

.footer_sub-nav li a:hover,
.footer_sub-nav li a:focus {
  color: #424951;
}

.custom-search {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  left: 1px;
  padding: 0x!important;
}
.custom-search::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
.custom-search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

.custom-search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;

}

.btn.disabled {
  // background-color: #97929248;
  cursor: not-allowed;
  opacity: 0.3;

}
.p-2{
  padding: 0px !important;

}
.btn.enabled {
  cursor: pointer;
  color: #0d6efd;
    /* padding: 10px; */
    border-radius: 0px;
 width: 100%;
 //background: red;
 margin-bottom: 0px;
}
.btn.enabled:hover{
  background-color: rgb(158, 197, 254);
}
.d-inline-block{
  width: 100%!important;
}

.btn.enabled span {
  cursor: pointer;
  color: #0d6efd !important;
}
.button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: rgb(220, 53, 69);
  border-radius: 23px;
  color: white;
  padding: 2px 6px;
  font-size: 11px;
  position: relative;
  top: -22px;
  left: 5px;
  z-index: 9;
}
.nav-tabs .nav-link{
  width: 60px;
  font-size: 14px;
}
.details-btn{
  border-radius: 6px;
  padding: 8px;
  background-color: rgb(13, 110, 253);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(13, 110, 253);
  text-align: center;
  width: 50px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px !important;

}
.details-btn .button__badge{

  top: -20px;
  left: 1px;
  z-index: 9;

}
.cards-section{
  border-bottom: 1px solid #ccc;
    /* margin-top: 36px; */
    padding-bottom: 20px;
}

.iframecontent{
    max-height: calc(100vh - 75px);
    height: 100% !important;
    padding: 0px;
    overflow: auto !important;
    scroll-behavior: smooth;
}
.top_80{
  top: -32px;
}
